extends layout
block content
 div.container
  div.jumbotron
   h1 Hello!

    if username
     p Welcome, #{username}
      p

        a.btn.btn-primary(href="/logout") Logout
    else
     p Welcome to LoginJS, ready to get started ?
      p
       a.btn.btn-primary(href="/login") Login now
